<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Feedback form</h1>
    <form action="" method="POST">
      <!-- <div>
        <label for="feedbackType">Feedback Type</label><br>
        <input type="radio" id="comments" name="feedbackType" value="comments">
        <label for="comments">Comments</label><br>
        <input type="radio" id="bug-report" name="feedbackType" value="bug-report">
        <label for="bug-report">Bug Report</label><br>
        <input type="radio" id="feature-request" name="feedback" value="feature-request">
        <label for="feature-request">Feature Request</label><br>
      </div>
      <div> -->
        <label for="feedback">Feedback</label><br>
        <textarea name="feedback" id="feedback" cols="30" rows="10"></textarea>
      </div>
      <div>
        <label for="suggestion">Suggestions for improvement</label><br>
        <textarea name="suggestion" id="suggestion" cols="30" rows="10"></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
